[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
asgiref = "*"
markdown = "*"
pillow = "*"
sqlparse = "*"
django-extensions = "*"
django-ckeditor = "*"
pipreqs = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "2.7.18"
