<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <nav>
      <a class="logo" href="#"><h1>AFRICA-HUB</h1></a>
      <!-- <div class="search-div"> -->
      <input class="search" type="text" placeholder="SEARCH" />
      <!-- <input type="submit" value="SEARCH">
    </div> -->
      <ul class="home-links">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ROADMAPS</a></li>
        <li><a href="#">BLOGS</a></li>
        <li><a href="#">ABOUT ME</a></li>
      </ul>
      <div class="nav-button">
        <a href="#"><button class="login">LOG IN</button></a>
        <a href="#"><button class="signup">SIGN UP</button></a>
      </div>
    </nav>

    <footer>
      <p>This website is built by Bilal Abdelkadir</p>
    </footer>
  </body>
</html>
